

body{
	background-image: url("../images/drawing.jpg");
	background-position: center-center;
	background-repeat: no-repeat;
	z-index: -20;
	size: 100%;
	background-image: center;


		


}
h1{

	color: blue;
	text-align: center;
	z-index: 100;
	font-size: 25px;
	font: bold;
	text-transform: uppercase;
}
ol{
	color: blue;
	font-size: 25px;
	z-index: 50;
	font-weight: bold;
	z-index: 100;
	/*background-color: #ee3e80;*/
}
#startbtn{
	font-size: 100px;
	color: white;
	background-color: black;
	position: relative;
}
#buttondiv{
	text-align: center;
}
#container{
	text-align:right;
	

}
#status{
	width: 200px;
	border: 2px solid;
	padding: 10px;
	background-color: white;
	font: bold;
	text-align: center;
}	


